### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [212]:
Name = "Shifa Lashari"
print (Name)

Shifa Lashari

Create two variables, x and y, and swap their values without using a third variable.

In [214]:
x = 23
y = 32 
x, y = y, x 
print("After swap:") 
print("x=", x)
print("y=", y)

After swap:
x= 32
y= 23

Calculate the area of a rectangle with length and width stored in variables.

In [216]:
length = 15
width = 23
area = length*width
print("The area of the rectangle will be:", area)

The area of the rectangle will be: 345

Create a variable with a long string (multi-line) and print its length.

In [218]:
string = "We have lands at different places which are being fertilized using natural fertilizers and irrigated with groung water, these lands provide consumers with produce in that area without depleting resources."
length = len(string)
print("length:", length)

length: 204

Create a variable to store your favorite number and print it.

In [172]:
city = "Lahore"
print(city)

Lahore

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [108]:
# formula to calculate the perimeter of a triangle is the sum of lengths of all 3 sides of a triangle which are given as a, b and c in this case:
a = 3 
b = 4
c = 6 
perimeter = a + b + c 
print("Perimeter of the triangle is:", perimeter)

Perimeter of the triangle is: 13

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [174]:
# price of apples per kilograms is 125 rupees 
# Quantity is given in kilograms here 
price = 125
quantity =3
cost = price*quantity
print("total cost:", cost)

total cost: 375

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [190]:
import math 
pi = math.pi
radius = 7 
circumference = 2* pi * radius
print("Radius:", radius)
print("Circumference of circle:", circumference)

Radius: 7
Circumference of circle: 43.982297150257104

Calculate the sum of two numbers, a and b.

In [176]:
a = 651
b = 432
sum = a+b
print("sum of a & b is:", sum)

sum of a & b is: 1083

Calculate the product of two numbers, a and b.

In [178]:
a = 40
b = 53
product = a*b
print("product of a & b is:", product)

product of a & b is: 2120

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [188]:
a =32
b = 4
divide = a/b
print("after dividing 32 by 4 we get:", divide)

after dividing 32 by 4 we get: 8.0

Calculate the square of a number x.

In [186]:
# the operator for exponent is ** 
x = 13
square = x**2
print("square of 13 is:", square)

square of 13 is: 169

Calculate the remainder when a is divided by b.

In [184]:
# in order to calculate the remainder we use "%" operator between dividend and devisor, respectively 
a = 72
b = 5
remainder= a%b
print("the remainder when we divide 72 by 5 is:", remainder)

the remainder when we divide 72 by 5 is: 2

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [182]:
a = 17 
b = 3 
remainder = 17%3
quotient = 17//3      # the operator for determining the quotient is //
print("The remainder when we divide 17 by 3 is:", remainder)
print("The quotient when we divide 17 by 3 is:", quotient)

The remainder when we divide 17 by 3 is: 2
The quotient when we divide 17 by 3 is: 5

Calculate the area of a square with a given side length.

In [180]:
#length of a side of square is 12 cm
x = 12 
area =x**2
print("Area of the square is:", area)

Area of the square is: 144

Calculate the average of five numbers.

In [110]:
a = 10
b = 11
c = 21
d = 23 
e = 25
sum = a + b + c + d + e 
average = sum / 5
print("Average of 10,11,21,23,25 is:", average)

Average of 10,11,21,23,25 is: 18.0

Create a variable with a boolean value and print its opposite value.

In [116]:
x = 12
y = 30
value = x>y
print("Outcome is:", not value)

Outcome is: True

Store your birth year in a variable and calculate your age.

In [120]:
Birthyear = 2002
Currentyear = 2024
Age = Currentyear - Birthyear
print("Age:", Age)

Age: 22

Create a variable with an integer and convert it to a float.

In [124]:
integer_value = 2024
float_value = float(integer_value)
print("Float value will be:", float_value)

Float value will be: 2024.0

Create a variable with a float and convert it to an integer.

In [126]:
float_value = 202.4
interger_value = int(float_value)
print("Integer value of 202.4 is:",integer_value)

Integer value of 202.4 is: 2024

Create a variable with a string that represents an integer and convert it to an integer.

In [132]:
string_value = "2024"
integer_value = int(string_value)
print("string_value:", string_value)
print("string value after being converted to integer will be:", integer_value)

string_value: 2024
string value after being converted to integer will be: 2024

Create a variable with a string that represents a float and convert it to a float.

In [136]:
string_value = "234.5"
float_value = float(string_value)
print("string value:", string_value)
print("Float value:", float_value)

string value: 234.5
Float value: 234.5

In [ ]:
Create a variable with a number and convert it to a string.

In [144]:
number = 235
string_value = str(number)
print("number:", number)
print("string value:", string_value)

number: 235
string value: 235

Calculate the absolute value of a number.

In [148]:
number = -1157
absolute_value = abs(number)
print("Number:", number)
print("absolute value:", absolute_value)

Number: -1157
absolute value: 1157

Calculate the square root of a number.

In [168]:
number = 121
Square_root = 121**0.5
print("Number:", number)
print("Square root:", Square_root)

Number: 121
Square root: 11.0

Calculate the value of a raised to the power of b.

In [170]:
a = 25
b = 2
a_raised_to_power_of_b = a**b
print("answer:", a_raised_to_power_of_b)

answer: 625

Round a float to the nearest integer.

In [192]:
float = 10.7 
rounded_number = round(float)
print("Float:", float)
print("Rounded number is:", rounded_number)

Float: 10.7
Rounded number is: 11

Combine multiple conditions using logical operators and print the result.

In [198]:
x = 111
y = 122

#Output: x > y 
print('x > y is',x>y)

# Output: x < y 
print('x < y is',x<y)

# Output: x == y 
print('x == y is',x==y)

# Output: x != y 
print('x != y is',x!=y)

# Output: x >= y 
print('x >= y is',x>=y)

# Output: x <= y 
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

Generate a random number between 1 and 100.**(challenging)**

In [210]:
import random 
random_number = random.randint(1,100)
print("The random number is:", random_number)

The random number is: 58

In [206]:
import random 
random_number = random.randint(1,100)
print("The random number between 1 - 100 is:", random_number)

The random number between 1 - 100 is: 9